h3 {
    color:rgb(255, 0, 0);
}

#blue {
    color:blue;
}

#coral {
    color:coral;
}


#green {
    color:green;
}

#orange {
    color:orange;
}

#orangered {
    color:orangered;
}

#purple {
    color:purple;
}